<celula [templateCelula]="templateCelula" [templateHeader]="templateHeader" [item]="page" [color]="'#A6A6A6'    "></celula>


<ng-template #templateHeader let-item="data">

    <ion-toolbar>

        <ion-navbar *ngIf="item">

            <ion-buttons *ngIf="item.skip > 1" left>
                <button ion-button icon-only color="primary_20" (click)="back()">
                    <ion-icon name="arrow-back"></ion-icon>
                </button>
            </ion-buttons>
            
            <ion-title text-left>{{item.title}}</ion-title>
            <ion-title text-right>{{item.skip + 1}} de {{item.total}}</ion-title>

            <ion-buttons *ngIf="item.skip + item.take < item.total" end>
                <button ion-button icon-only color="primary_20" (click)="next()">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-buttons>


        </ion-navbar>


    </ion-toolbar>

</ng-template>