<!-- cabecalho -->

<ion-header id="header">
    <ion-toolbar color="{{color}}">

        <ion-navbar>

            <!-- botao voltar -->

            <ion-buttons *ngIf="showBackButton" left>
                <button ion-button icon-only color="primary_20" (click)="voltar()">
                    <ion-icon name="arrow-back"></ion-icon>
                </button>
            </ion-buttons>

            <!-- botao finalizar -->

            <ion-buttons end>
                <button ion-button icon-only color="primary_20" (click)="sair()">
                    <ion-icon name="log-out"></ion-icon>
                </button>
            </ion-buttons>

            <!-- titulo -->

            <ion-title text-center>{{title}}</ion-title>

            <!-- barra de pesquisa -->

            <ion-buttons end *ngIf="false">
                <!-- botao pesquisa suprimido -->
                <button ion-button icon-only (click)="searchShow(true)">
                    <ion-icon name="search"></ion-icon>
                </button>
            </ion-buttons>
           

        </ion-navbar>   
        
        <!-- menu de abas -->
        <segment *ngIf="showTab" [itens]="segItens" [selected]="'Pendentes'" (changeTab)="onChangeTab($event)"></segment>

    </ion-toolbar>
</ion-header>