
toolbar-header {

    /* titulo da pagina */

    >ion-header {
        >.toolbar-md {
          padding: 0;
  
          .toolbar-md {
            min-height: 40px;
            padding: 10px;
  
            .toolbar-title-md {
              padding: 0;
              font-size: 1.7rem;
              font-weight: normal;
              text-transform: uppercase;
            }
          }
        }
  
        ion-segment {
          &.segment-md {
            .segment-button {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 30px;
              padding: 0 5px;
              border-bottom-width: 5px;
              border-color: rgba(color($colors, ons-white), 0);
              line-height: unset;
              font-weight: normal;
  
              &.segment-activated {
                border-color: rgba(color($colors, ons-white), 0.5);
              }
  
              >.headColor {
                font-weight: normal;
                font-size: 10pt;
                text-transform: none;
                color: color($colors, ons-white);
              }
            }
          }
        }
  
        &.header-md::after {
          display: none;
        }
      }
}
