<div class="hourGlassCard" [hidden]="!show">
    <div class="hourGlass">
        <round-progress
            [current]="current"
            [max]="max"
            [color]="color"
            [background]="background"
            [radius]="radius"
            [stroke]="stroke"
            [semicircle]="semicircle"
            [rounded]="rounded"
            [clockwise]="clockwise"
            [responsive]="responsive"
            [animation]="'easeInOutQuart'"
            [duration]="duration">
        </round-progress>
        <ion-icon name="close" class="hourGlassIcon"></ion-icon>
    </div>
    <h4 class="hourGlassHeader">{{showText}}</h4>
    <div class="hourGlassBackground" [style.backgroundColor]="backColorCard"></div>
  </div>
