hour-glass {
    .hourGlassCard {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: calc(100vw - 22px);
        border-radius: 5px;
      
        .hourGlassBackground {
          position: absolute;
          width: calc(100vw - 22px) ;
          height: 100%;
          border-radius: 5px;
          z-index: 1;
          opacity: .6;
        }
    
        .hourGlass {
          width: 65px;
          height: 65px;
          align-items: center;
          justify-content: center;
          display: flex;
          z-index: 2;
      
          round-progress {
            width: 65px !important;
            height: 65px !important;
          }
      
          .hourGlassIcon {
            position: absolute;
            font-size: 2.9em;
            color: color($colors, ons-white);
          }
        }
        .hourGlassHeader {
          height: 30px;
          align-items: center;
          display: flex;
          font-size: 1.3rem;
          color: #ffffff;
          white-space: nowrap;
          z-index: 2;
          padding-left: 5px;
        }
    
      }
}
