$colors: '../../../../theme/variables.scss';
@import '../../../../theme/variables.scss';

page-recebimento {

    * {
        white-space: normal;
    }

    /* titulo da pagina */

    >ion-header {
        >.toolbar-md {
            padding: 0;
            .toolbar-md {
                min-height: 40px;
                padding: 10px;
            }
            .toolbar-title-md {
                padding: 0;
                font-size: 1.7rem;
                font-weight: normal;
                text-transform: uppercase;
                white-space: normal;
            }
        }
    }

    /* menu de abas (tabs) */

    ion-segment {
        &.segment-md {
            .segment-button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                padding: 0 5px;
                border-bottom-width: 5px;
                border-color: rgba(color($colors, ons-white), 0);
                line-height: unset;
                font-weight: normal;
                &.segment-activated {
                    border-color: rgba(color($colors, ons-white), 0.5);
                }
                >.headColor {
                    font-weight: normal;
                    font-size: 16pt;
                    text-transform: none;
                    color: color($colors, ons-white);
                }
            }
        }
    }
    &.header-md::after {
        display: none;
    }

    /* barra de pesquisa */

    .searchbar-input {
      border-bottom-style: solid;
      border-bottom-width: 5px;
      border-bottom-color: #f99149;
      color: #141414;
      box-shadow: none;
      background-color: transparent;
    }
     
    /* mensagens */
    
    .mensagem-sem-dados {
        color: color($colors, ons-coral);
        padding: 0 10px;    
    }

    .mensagem-sem-acesso {
        color: color($colors, ons-red);
        padding: 0 10px;
    }
  
    /* cartao recebimento */

    .cartao-recebimento {
      display: flex;
      align-content: space-between;
      display: block;
      overflow: hidden;
      margin: 0 5px 5px;

      .right {
          padding-right: 10px;
          display:flex; 
          float: right;
      }

      h2 {
        font-size: 12pt;
        float: left;
        color: color($colors, ons-coral) !important;
      }

      >h4 {
        margin: 0 0 10px;
        color: color($colors, ons-coral);
      }

      h6 {
        margin: 0 0 10px;
        padding: 0 5px;
        color: color($colors, ons-coral);
      }

      .objeto {
        margin-top: 5px;
        h5 {
          text-transform: uppercase;
          color: color($colors, ons-gray) !important;
        }
        h6 { 
          padding-left: 0;
        }
      }

      >.grid {
        padding: 0;

        .row {
          margin: 0 0 10px;
        }

        h5 {
          margin: 0 0 5px;
          color: color($colors, ons-gray);
        }
      }

      /* lista de anexos */

      .minilist {
        display: block;
        overflow-y: auto;
        height: 180px;
        padding: 10px;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        border-color: color($colors, ons-coral);

        ul {
          margin: 0;
          padding: 0;
          overflow: hidden;

          li {
            display: flex;
            margin: 0 0 10px;
            padding: 0 0 10px;
            font-size: 1.1rem;
            border-bottom: 1px solid rgba(color($colors, ons-gray), 0.5);
            color: color($colors, ons-coral);

            &:last-child {
              margin: 0;
              padding: 0;
              border: none;
            }

            ion-icon {
              width: 45px;
              color: color($colors, ons-gray);
              font-size: 2rem;
              margin-top: 5px;
              margin-right: 5px;
              transform: rotate(45deg);
              transform-origin: center;
            }
          }
        }
      }

      /* grafico */

      .chartCol {
        display: flex;
        justify-content: center;
      }

      .chartSize {
        display: flex;
        justify-content: center;
        align-items: center;

        .centerOfGraph {
          position: absolute;
          flex-direction: column;
          text-align: center;
          align-self: center;
          display: flex;
        }
      }

    }

}
