<!-- cabecalho -->

<ion-header id="header">
  <ion-toolbar color="ons-coral">

    <ion-navbar [hidden]="showSearch">

      <!-- botao voltar -->

      <ion-buttons *ngIf="showBackButton" left>
        <button ion-button icon-only color="primary_20" (click)="voltar()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>

      <!-- botao finalizar -->

      <ion-buttons end>
        <button ion-button icon-only color="primary_20" (click)="sair()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>

      <!-- titulo -->

      <ion-title text-center>Recebimentos Físicos</ion-title>
      
      <!-- barra de pesquisa -->

      <ion-buttons end  *ngIf="false"> <!-- botao pesquisa suprimido --> 
        <button ion-button icon-only (click)="searchShow(true)">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>

    </ion-navbar>

    <!-- barra de pesquisa -->

    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" [hidden]="!showSearch">
    </ion-searchbar>

    <!-- menu de abas -->

    <ion-segment (click)="changeTab()" [(ngModel)]="segment">
      <ion-segment-button value="pendentes">
        <span class="headColor">Pendentes</span>
      </ion-segment-button>
      <ion-segment-button value="outros">
        <span class="headColor">Outros</span>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<!-- conteudo -->

<ion-content (click)="searchShow(false)">

  <!-- refresher -->
  
  <ion-refresher (ionRefresh)="carregarDados($event)">
    <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Puxe para atualizar"
        refreshingSpinner="crescent"
        refreshingText="Aguarde..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <!-- conteudo de cada aba -->

  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'pendentes'">

        <approve-list 
          [items]="dadosObjPendentes" 
          [templateHeader]="templateHeader" 
          [templateExpanded]="templateExpanded" 
          [permissions]="permissoesPendentes" 
          [itemExpandHeight]="480" 
          (expanded)="expandido($event.item, $event.expanded)" 
          [actionDelay]="10" 
          (approveReproveAction)="aprovarReprovar($event.item, $event.approved)" 
          (canceled)="envioCancelado($event)" 
          mainColor='#A6A6A6'>
        </approve-list>

      <h1 class="mensagem-sem-dados" *ngIf="semDadosPendentes">Nenhum recebimento pendente</h1>

    </ion-list>
    <ion-list *ngSwitchCase="'outros'">

      <approve-list 
        [items]="dadosObjOutros" 
        [templateHeader]="templateHeader" 
        [templateExpanded]="templateExpanded" 
        [permissions]="permissoesOutros"  
        [itemExpandHeight]="480" 
        (expanded)="expandido($event.item, $event.expanded)"        
        [actionDelay]="10"> 
      </approve-list>

      <h1 class="mensagem-sem-dados" *ngIf="semDadosOutros">Nenhum recebimento disponível</h1>
 
    </ion-list>
  </div>
  
</ion-content>


<!-- parte superior -->

<ng-template #templateHeader let-item="data">

  <ion-grid class="cartao-recebimento" no-padding>
    <ion-row>
      <ion-col no-padding>
        <h2>{{item.titulo}}</h2>
        <h2 class="right">{{item.status}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 no-padding class="objeto">
        <h5>{{item.objeto}}</h5>
        <h6>{{item.valor}}</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ng-template>

<!-- parte inferior -->

<ng-template #templateExpanded let-item="data">

    <div class="cartao-recebimento">

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <h5>Total Pago</h5>
            <h6>{{item.valorCompromissado}}</h6>
          </ion-col>
          <ion-col col-6>
            <h5>Valor Remanescente</h5>
            <h6>{{item.valorRemanescente}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h5>Unidade</h5>
            <h6>{{item.unidade}}</h6>
          </ion-col>
          <ion-col col-6>
            <h5>Identificação</h5>
            <h6>{{item.ID}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h5>Nº Recebimento</h5>
            <h6>{{item.nRecebimento}}</h6>
          </ion-col>
          <ion-col col-6>
            <h5>Data</h5>
            <h6>{{item.dataCriado}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h5>Anexos</h5>
            <div>
              <ion-grid class="minilist">
                <ul>
                  <li *ngFor="let anexo of item.anexos" (click)="downloadAnexo(anexo)">
                    <ion-icon name="attach"></ion-icon>
                    <span>{{anexo.descricao}}</span>
                  </li>
      
                </ul>
              </ion-grid>
            </div>
          </ion-col>
          <ion-col col-6 class="chartCol">
            <div class="chartSize">
              
              <canvas baseChart [data]="item.valoresGrafico" [options]="graficoObj.options" [colors]="graficoObj.colors" [chartType]="graficoObj.type">
              </canvas>
              
              <div class="centerOfGraph">
                <h1 style="color:#f99149">
                  {{item.percentual1}}%
                </h1>
                <h2 style="color:#F76C00">
                  {{item.percentual2}}%
                </h2>
              </div>
      
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

</ng-template>