/* menu de abas (tabs) */
segment {
    .segment-md .segment-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        padding: 0 5px;
        border-bottom-width: 5px;
        border-color: rgba(color($colors, ons-white), 0);
        line-height: unset;
        font-weight: normal;
        font-family: Verdana;
        &.segment-activated {
            border-color: rgba(color($colors, ons-white), 0.5);
        }
        >.headColor {
            font-weight: normal;
            font-size: 10pt;
            text-transform: none;
            color: color($colors, ons-white);
        }
    }
}