<ion-segment (click)="onChangeTab()" [(ngModel)]="selected">
    <ion-segment-button *ngFor="let item of itens" [value]="item.value">
        <!-- <div text-wrap class="vertical-align">
            {{item.title}}
        </div> -->
        <span class="headColor">{{item.title}}</span>
    </ion-segment-button>
</ion-segment>