<ion-row>
    <table>
        <td class="th1">
            <label class="t4">Seq Origem: </label><br>
            <label class="t3 cor-dark" text-wrap>{{itemOrigem.origem}}</label>
        </td>
        <td class="th2">
            <label class="t4" text-wrap>U.A.: </label><br>
            <label class="t3 cor-dark" text-wrap>{{itemOrigem.ua}}</label>
        </td>
        <td class="th3">
            <label class="t4" text-wrap>PD/PI: </label><br>
            <label class="t3 cor-dark" text-wrap>{{itemOrigem.pdpi}}</label>
        </td>
        <td class="th4">
            <label class="t4" text-wrap>Etapa: </label><br>
            <label class="t3 cor-dark" text-wrap>{{itemOrigem.etapa}}</label>
        </td>
        <td class="th5">
            <label class="t4" text-wrap>NG/TG: </label><br>
            <label class="t3 cor-dark" text-wrap>{{itemOrigem.ngtg}}</label>
        </td>
    </table>
    <p class="t4 sep" text-wrap>Imóveis</p>
</ion-row>

<ion-list>
    <ion-item>
        <ion-row>
            <table>
                <tr>
                    <td class="td1 t3"></td>
                    <td class="td2 t3 cor-blue" text-wrap>Orçado</td>
                    <td class="td3 t3 cor-red" text-wrap>A ser Retirado</td>
                </tr>
            </table>
        </ion-row>
    </ion-item>
    <ion-item *ngFor="let valor of itemOrigem.valores" class="row-numbers">
        <ion-row>
            <table>
                <tr>
                    <td class="td1 t3 cor-light">{{valor.data}}</td>
                    <td class="td2 t3 cor-blue" text-wrap>{{valor.orcado | number:'1.2-2'}}</td>
                    <td class="td3 t3 cor-red" text-wrap>{{valor.aretirar | number:'1.2-2'}}</td>
                </tr>
            </table>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
            <table>
                <tr>
                    <td class="td1 t3 cor-light bold">Total</td>
                    <td class="td2 t3 cor-blue bold" text-wrap>{{totalOrcado() | number:'1.2-2'}}</td>
                    <td class="td3 t3 cor-red bold" text-wrap>{{totalAretirar() | number:'1.2-2'}}</td>
                </tr>
            </table>
        </ion-row>
    </ion-item>
</ion-list>