/* manter compativel com model/helper-cor.ts */

$cores: (
	cor-aprovado: color($colors, ons-green), // verde
	cor-reprovado: color($colors, ons-red), // vermelho
	cor-pendente: color($colors, ons-gray), // cinza
    cor-alert: color($colors, ons-red), // mensagem de lista vazia
);

item-mo {

    * { font-family: "Arial" }
    .bold { font-weight: bold;}
    .t1 { font-size: 1.8rem; };
    .t2 { font-size: 1.6rem; };
    .t3 { font-size: 1.4rem; };
    .t4 { font-size: 1.2rem; };
    .t5 { font-size: 1.0rem; };
    padding-top: 10p;

    table { width: 100%; }
    td.td1 { width: 24%; }
    td.td2 { width: 38%; }
    td.td3 { width: 38%; }

    p, label, td {
        color: color($cores, cor-pendente);
        &.status-aprovado {
            color: color($cores, cor-aprovado);
        }
        &.status-reprovado {
            color: color($cores, cor-reprovado);
        }  
    }

    .sep {
        margin: 5px 10px 1px 10px;
        width: 100%;
        text-align: left;
        color: color($cores, cor-pendente);
        border-bottom: solid 1px color($colors, ons-gray);
    }


    .cor-red {
        color: color($colors, ons-red); // vermelho
    }

    .cor-blue {
        color: color($colors, ons-blue-1); // azul        
    }

    .cor-pend {
        color: color($colors, ons-gray); // pendente        
    }

    .cor-dark {
        color: color($colors, dark); // dark        
    }

    .row-numbers {

        .label {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

}