<ion-header>
  <ion-toolbar color="ons-green">
    <ion-navbar>
      <ion-buttons end>
        <button ion-button icon-only color="primary_20" (click)="sair()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title text-center>Meu ONS</ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--   <ion-grid *ngIf="data == undefined">
    <ion-row text-center>
      <ion-col>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!--   <ion-grid *ngIf="data != undefined && data.length < 1">
    <ion-row text-center>
      <ion-col>
        <ion-label>
          {{ NoAppAllowed }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- *ngIf="data" -->
  <div class="squares">

    <div class="square" [ngClass]="getSomeClass(item)" [ngStyle]="getMyStyles(item)"
      *ngFor="let item of data; trackBy: let badgeId = index;">
      <div class="cardFlip">
        <div class="cardFlipContainer" [class.is-flipped]="((item.flipcard !== '' ) && (flipcardOBJ.isFlipAble))">
          <div class="cardFlip__face cardFront"
            [class.transitionBoder]="((item.flipcard !== '' ) && (flipcardOBJ.transitionClass))">
            <div class="header">
              <div *ngIf="item.DeepLink || item.externalUrl" class="hlink"></div>
              <div class="hbadge" [ngStyle]="getBadgeStyles(item)">
                <ion-badge item-end id="badge-{{badgeId}}"></ion-badge>
              </div>
            </div>
            <div class="content">
              <figure>

                <div *ngIf="item.icone" class="icon">
                  <img src="{{item.icone}}">
                </div>

                <p *ngIf="!item.icone">{{item.sigla}}</p>
                <figcaption *ngIf="item">{{item.nome}}</figcaption>

              </figure>
            </div>
          </div>
          <div class="cardFlip__face cardBack"
            [class.transitionBoder]="((item.flipcard !== '' ) && (flipcardOBJ.transitionClass))">
            <cardflip></cardflip>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>