page-home {
    @import "../../theme/flipCard";

    .iconSize {
        font-size: 3.2em;
        color: white;
    }

    .squares {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;

        .square {
            cursor: pointer;

            .cardFlip {
                min-height: unset;
                height: 100%;

                .cardFlipContainer {
                    .cardFlip__face {
                        .header {
                            display: table;
                            height: 35px;
                            width: 100%;
                            margin: 0px;

                            .hlink {
                                height: 0px;
                                width: 0px;
                                float: left;
                                border: solid 1px transparent;
                            }

                            .hlink:after {
                                display: block;
                                padding: 0px;
                                margin: 0px;
                                content: "";
                                margin-left: 10px;
                                margin-top: 10px;
                                background: transparent url('../../assets/icon/icon_002.png') no-repeat;
                                background-size: 25px 25px;
                                width: 25px;
                                height: 25px;
                            }

                            .hbadge {
                                margin: 15px 10px 0 0;
                                float: right;

                                .badge {
                                    color: inherit !important;
                                    background-color: color($colors, ons-white);
                                }
                            }
                        }

                        .content {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(color($colors, ons-black), 0);
                            transition: background-color, 0.4s;
                            margin-top: -35px;

                            figure {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .icon {
                                    width: 45px;
                                    height: 45px;
                                    margin: 0 0 5px;
                                    text-align: center;

                                    img {
                                        width: 100%;
                                    }
                                }

                                p {
                                    width: 100%;
                                    height: 45px;
                                    margin: 0 0 5px;
                                    padding: 5px 0 0 0;
                                    text-align: center;
                                    font-weight: bold;
                                    font-size: 1.5em;
                                    font-family: 'verdana';
                                    color: color($colors, ons-white);
                                }

                                figcaption {
                                    font-size: 0.9em;
                                    font-family: 'verdana';
                                    overflow-wrap: normal;
                                    padding: 0px 5px;
                                    color: color($colors, ons-white);
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }

            // &:hover {
            // 	.content {
            // 		background-color: rgba(color($colors, ons-black), 0.3);
            // 	}
            // }
        }

        .w-100 {
            width: 100%;
        }

        .w-50 {
            width: 50%;
        }

        .w-33 {
            width: 33.33%;
        }
    }
}