<!--   <div class="cardFlip">
    <div class="cardFlipContainer" [class.is-flipped]="((item.flipcard !== '' ) && (flipcardOBJ.isFlipAble))">

      <div class="cardFlip__face cardFront"
        [class.transitionBoder]="((item.flipcard !== '' ) && (flipcardOBJ.transitionClass))">
      <ng-content>
      </div>
      <div class="cardFlip__face cardBack"
        [class.transitionBoder]="((item.flipcard !== '' ) && (flipcardOBJ.transitionClass))">
        <div [innerHTML]="renderBack(item.flipcard)">

        </div>
      </div>
    </div>
  </div> -->
<div class="cardShow">

  <div class="BackHeader">Catraca Online</div>
  <div class="lineDiv"> </div>
  <div class="hourToShow">00:00</div>
  <div class="lineDiv"> </div>
  <div class="BackFooter">Banco de Compensação</div>
</div>