cardflip {
  height: 100%;

  .cardShow {
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;

    .lineDiv {
      width: 9em;
      border-width: 0.3px;
      border-style: solid;
      height: 0.1rem;
    }

    .BackHeader {
      text-transform: capitalize;
      font-size: 4vw;
    }

    .hourToShow {
      text-transform: unset;
      font-size: 5vw;
      /* width: 50%; */
      text-align: center;
    }

    .BackFooter {
      text-transform: unset;
      font-size: 3vw;

    }
  }
}