<ion-header>
  <ion-toolbar color="ons-red">
    <ion-navbar [hidden]="showSearch">
      <ion-buttons *ngIf="showBackButton" left>
        <button ion-button icon-only color="primary_20" (click)="voltar()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only color="primary_20" (click)="sair()">
          <ion-icon name="log-out"></ion-icon>
        </button>
     
      </ion-buttons>
      <ion-title text-center>Aprovação de férias</ion-title>
    </ion-navbar>

    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" [hidden]="!showSearch">
    </ion-searchbar>
    <ion-segment (click)="mudarTab()" [(ngModel)]="segment">
      <ion-segment-button value="pendentes">
        <span class="headColor">Pendentes</span>
      </ion-segment-button>
      <ion-segment-button value="outros">
        <span class="headColor">Todos</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content (click)="searchShow(false)">
  <ion-refresher (ionRefresh)="carregarDados(true, $event)" *ngIf="!isLoading">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <div class="spinner-aguarde" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>  
    <div [ngSwitch]="segment" class="segment">
      <div *ngSwitchCase="'pendentes'">
        
        <div *ngFor="let itemFerias of feriasPendentes">
            <ons-card [color]="borderColorCard">
                <ng-container [ngTemplateOutlet]="templateCardFerias" [ngTemplateOutletContext]="{data: itemFerias}"></ng-container>
            </ons-card>
        </div>        

        <h1 class="mensagem-sem-dados" *ngIf="semFeriasPendentes">
          Nenhuma pendencia de férias
        </h1>
      </div>

       <div *ngSwitchCase="'outros'">
          <div *ngFor="let itemFerias of feriasOutros">              
              <ons-card [color]="borderColorCard">
                  <ng-container [ngTemplateOutlet]="templateCardFerias" [ngTemplateOutletContext]="{data: itemFerias}"></ng-container>
              </ons-card>          
          </div>
          <h1 class="mensagem-sem-dados" *ngIf="semFeriasOutros">
            Nenhuma pendencia de férias
          </h1>
       </div>
    </div>    
</ion-content>

<ng-template #templateCardFerias let-itemFerias="data">
  <div class="cartao-ferias">
    <div class="titulo">
      <p>{{ itemFerias.id }} - {{ itemFerias.dt_admissao }}</p>
    </div>

    <div class="funcionario">
      <div class="avatar"><img src="{{itemFerias.foto}}" /></div>
      <div class="info">
        <p class="t2 color nome">
          {{ itemFerias.nome }}
        </p>
        <p class="t2 color">
          {{ itemFerias.cargo }}
        </p>
      </div>
    </div>

    <ion-list #approveItens>
      <div *ngFor="let itemPeriodo of itemFerias.periodos">
        <approve-item  [id]="itemFerias.id + itemPeriodo.ordem" [item]="itemPeriodo" (approveReproveAction)="aprovarReprovar($event.item, $event.approved, itemFerias)"
              (canceled)="envioCancelado($event.item, itemFerias)"[permissions]="itemPeriodo.permissoes"[actionDelay]="10">

              <div class="periodo-ferias">
                  <table class="tabelaPeriodo">
                    <tr>
                      <td width="2%"></td>
                      <td width="40%" height="1px"></td>
                      <td width="42%"></td>
                      <td width="14%"></td>
                      <td width="2%"></td>
                    </tr>
                    <tr>
                      <td>
                          <div *ngIf="itemPeriodo.status === StatusPeriodo.PendenteAprovacao" class="colunaVerde PendenteAprovacao"></div>
                          <div *ngIf="itemPeriodo.status === StatusPeriodo.Aprovado" class="colunaVerde Aprovado"></div>
                          <div *ngIf="itemPeriodo.status === StatusPeriodo.Reprovado" class="colunaVermelha Reprovado"></div>
                      </td>
                      <td class="lowerleft">
                        <div class="upperleft">
                            <p class="espaco periodo">{{ itemPeriodo.ordem }}º Periodo</p>
                        </div>
                        <div>
                          <p class="low datainicio">início:
                            <span class="texto {{StatusPeriodo[itemPeriodo.status]}}">
                              {{itemPeriodo.data_inicio}}
                            </span>
                          </p>
                        </div>
                      </td>                      
                      <td class="lowerleft">                                                  
                          <p class="low"> Término:
                                <span class="texto {{StatusPeriodo[itemPeriodo.status]}}">
                                  {{itemPeriodo.data_termino}}
                              </span>
                          </p>                        
                      </td>
                      <td class="lowercenter">
                          <button ion-button (click)="mostraObs(itemPeriodo)" [outline]="true"color="ons-gray">Obs</button>
                        </td>
                      <td>
                          <div *ngIf="itemPeriodo.status === StatusPeriodo.PendenteAprovacao" class="colunaVermelha PendenteAprovacao"></div>
                          <div *ngIf="itemPeriodo.status === StatusPeriodo.Aprovado" class="colunaVerde Aprovado"></div>
                          <div *ngIf="itemPeriodo.status === StatusPeriodo.Reprovado" class="colunaVermelha Reprovado"></div>
                      </td>
                    </tr>
                  </table>
                </div>      
        </approve-item>
      </div>
    </ion-list>
    <div class="periodos">
      <p>Período Aquisitivo: {{itemFerias.periodo_aquisitivo}}</p>
      <p>Período de Fruição: {{itemFerias.periodo_fruicao}}</p>
    </div>
  </div>
</ng-template>
