$colors: "../../../../theme/variables.scss";
@import "../../../../theme/variables.scss";

// manter compativel com ../../../model;helper-cor.ts
$cores: (
	cor-aprovado: #455E2B, //verde
	cor-reprovado: #D7052A, //vermelho
	cor-pendente-aprovacao: #868686, //cinza
	cor-alert: #D7052A, //vermelho
);

page-aprovacao-ferias {
  * {
    white-space: normal;
  }

  .toolbar-title {
    white-space: normal;
  }

  /* mensagem: sem dados */

  .mensagem-sem-dados {
    color: color($cores, cor-alert);
    padding: 0 10px;
  }

  .segment{  
    margin-top: 5px;     
  }

  /* refresher is loading */

  .spinner-aguarde {
    justify-content: center;
    display: block;
    align-items: center;
    display: flex;
    > h3 {
      color: color($colors, ons-black);
    }
  }

  /* container do cartao de ferias */

  ion-card.cardBorderline {
    margin-bottom: 10px;
  }

  /* cartao de ferias completo para cada funcionario */

  .cartao-ferias {

    /* textos */
    p {
      color: color($colors, ons-gray);
      font-size: 1.1rem;
      margin: 0px;
    }
    p.t2,
    p > .t2 {
      font-size: 1.2rem;
    }
    p.t3,
    p > .t3 {
      font-size: 1.9rem;
    }
    p.color,
    p > .color {
      color: color($colors, ons-gray);
    }

    /* titulo */

    .titulo {
      background-color: color($cores, cor-pendente-aprovacao);
      margin: 0;
      padding: 2px 0;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-width: 0px;
      p {
        color: white;
        text-align: center;
        font-size: 1.0rem;
      }
    }

    /* funcionario */

    .funcionario {
      display: table;

      > .avatar {
        float: left;
        img {
          margin-top: -10px;
          margin-right: 0;
          margin-bottom: 10px;
          margin-left: 10px;
          border-radius: 50%;
          border-width: 1px;
          border-style: solid;
          border-color: color($cores, cor-pendente-aprovacao);
          width: 45px;
          height: 45px;
        }
      }

      .info {
        margin: 0 0 0 10px;
        float: left;
      }

      .info .nome {
        color: color($cores, cor-pendente-aprovacao);
      }
    }

    /* info sobre periodos */

    .periodo-ferias {
      margin: 0px;
      border-top: solid 1px color($colors, ons-gray);

      p {
        color: color($colors, ons-gray);                
      }

      .tabelaPeriodo {
        width: 100%;
        height: 100%;
        margin: 12px 0;

        td {
          padding: 0px;
        }

        p {
          font-size: 1rem;
        }

        p.periodo {
          color: color($cores, cor-pendente-aprovacao);      
        }

        .texto {
          font-size: 1.1rem;
          padding-left: 5px;
        }

        .texto.Aprovado {
          color: color($cores, cor-aprovado);
        }

        .texto.Reprovado {
          color: color($cores, cor-reprovado);
        }

        button {
          height: 30px;
          width: 40px;
          border-radius: 5px;
          border-style: solid;
          border-width: 1px;   
          text-transform: none;  
          font-size: 1.1rem;   
          margin-right: 10px;  
        }

        .colunaVerde {
          background-color: color($cores, cor-aprovado);
          width: 9px;
          height: 70%;
        }

        .colunaVerde.PendenteAprovacao {
          opacity: 0.3;
        }

        .colunaVermelha {
          background-color: color($cores, cor-reprovado);
          width: 9px;
          height: 70%;
        }

        .colunaVermelha.PendenteAprovacao {
          opacity: 0.3;
        }

        .upperleft {          
          text-align: left;
          vertical-align: top;
        }
        .middlecenter {          
          text-align: center;
          vertical-align: middle;
        }
        .lowercenter {          
          text-align: center;
          vertical-align: bottom;
        }
        .lowerleft {          
          text-align: left;
          vertical-align: bottom;
          padding-left: 5px;
          padding-bottom: 5px;
        }
      }
    }

    .item {
      //background-color: green;// transparent !important;
      padding-left: 0px !important;

    }

    .item-inner {
      padding: 0 !important;
    }

    .periodos {
      padding: 10px;
      border-top: solid 1px color($colors, ons-gray);
      p {
        font-size: 1.0rem;
      }
    }

  } /* cartao-ferias */

  /* cabecalho da pagina */

  > ion-header {
    > .toolbar-md {
      padding: 0;

      .toolbar-md {
        min-height: 40px;
        padding: 10px;

        .toolbar-title-md {
          padding: 0;
          font-size: 1.7rem;
          font-weight: normal;
          text-transform: uppercase;
        }
      }
    }

    ion-segment {
      &.segment-md {
        .segment-button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 35px;
          padding: 0 5px;
          border-bottom-width: 5px;
          border-color: rgba(color($colors, ons-white), 0);
          line-height: unset;
          font-weight: normal;

          &.segment-activated {
            border-color: rgba(color($colors, ons-white), 0.5);
          }

          > .headColor {
            font-weight: normal;
            font-size: 16pt;
            text-transform: none;
            color: color($colors, ons-white);
          }
        }
      }
    }

    &.header-md::after {
      display: none;
    }
  }

}
