// border

%border-1px {
	border-width: 1px;
	border-style: solid;
}

%border-2px {
	border-width: 2px;
	border-style: solid;
}

%border-4px {
	border-width: 4px;
	border-style: solid;
}



// box-shadow

%box-shadow {
	box-shadow: 0 3px 10px 0 rgba($black, 0.2);
}


