@charset "UTF-8";

@import "sass/colors";
@import "sass/placeholders";

page-catraca {
	padding: 0;
	margin: 0;
	font-family: "verdana";
	background-color: $cinza-1;

	* {
		box-sizing: border-box;
	}
	.item-none {
		display: none !important;
	}
	.navbar {
		background-color: #488aff;
		position: fixed;
		z-index: 2;
		top: 64px;
		transition: top 0.3s;
		width: 100%;
		display: block;
	
		.boxHourDisplay {
		  height: 8vh;
		  justify-content: center;
		  display: flex;
		  align-items: center;
		  color: $azul-1;
		  transition: opacity 2s ease-in-out, height 2s step-start;
	
		  &.disapear {
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition-timing-function: ease-in-out, step-end;
		  }
	
		  .BoxHourText {
			background-color: #fff;
			height: 100%;
			display: flex;
			width: 50%;
			justify-content: space-around;
			align-items: center;
	
			ion-icon {
			  font-size: 3.5em;
			  color: #4f8ad8;
			  transform: rotateY(180deg);
			  transition: ease-in-out 2s;
			}
	
			.text {
			  width: 50%;
			  color: #95b9e7;
			  text-align: center;
			}
	
			.hourToShow {
			  font-size: 1.6rem;
			  display: flex;
			  background-color: #c0d3ef; // lightblue;
			  height: 90%;
			  /* width: 99%; */
			  justify-content: center;
			  align-items: center;
			}
		  }
		}
	  }

	.date-current {
		position: relative;
		z-index: 1;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 10px;

		.line {
			position: absolute;
			top: 0;
			left: 20px;
			width: 0;
			height: 100%;
			border-left: 4px solid $azul-2;
			margin: 0 50px 0 28px;
		}

		> .content {
			height: 40px;
			max-height: 40px;
			padding: 10px 20px;
			font-size: 1.4rem;
			border-radius: 20px;
			color: $cinza-2;
			@extend %border-1px;
			border-color: $cinza-3;
			background-color: $white;
			@extend %box-shadow;
		}

		&.fixed {
			position: fixed;
			z-index: 1;
			top: 65px;
		}
	}

	.items {
		padding: 60px 0 0;

		>div:first-child .item {

			.line {
				margin: 20px 50px 0 28px;
			}
		}

		>div:last-child .item {

			.line {
				height: 20px;
			}
		}
	}

	.item {
		position: relative;
		display: flex;
		width: 100%;
		min-height: 100px;
		padding: 0 20px;

		.date {
			position: absolute;
			top: 20px;
			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			@extend %border-4px;
			border-color: $azul-2;
			background-color: $azul-1;

			>div {
				font-size: 1.5rem;
				text-align: center;
				color: $white;
			}
		}

		.line {
			flex-shrink: 0;
			width: 0;
			border-left: 4px solid $azul-2;
			margin: 0 50px 0 28px;
		}

		.baloom {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			min-height: 60px;
			padding: 20px;
			margin: 20px 0 20px;
			@extend %border-2px;
			border-radius: 10px;
			border-color: $azul-2;
			background-color: $white;

			.arrow {
				position: absolute;
				top: 20px;
				left: -9px;
				width: 15px;
				height: 15px;
				transform: rotate(45deg);
				border-bottom: 2px solid $azul-2;
				border-left: 2px solid $azul-2;
				border-color: $azul-2;
				background-color: $white;
			}

			.hour {
				width: 50%;
				padding: 5px 0;
				font-size: 1.6rem;
				color: $cinza-4;

				&:nth-of-type(odd) {
					text-align: right;
				}
			}
		}

		&.empty {

			.date {
				background-color: $white;

				>div {
					color: $azul-1;
				}
			}

			.baloom {
				display: none;
			}
		}

		&.incomplete {

			.date {
				border-color: $vermelho-2 !important;
				background-color: $vermelho-1 !important;

				>div {
					color: $white ;
				}
			}

			.baloom {
				border-color: $vermelho-2 !important;

				.arrow {
					border-color: $vermelho-2 !important;
				}
			}
		}

		&.weekend {
			min-height: initial;
			background-color: $cinza-5;

			.text {
				width: 100%;
				padding: 10px 0;
				font-size: 1.6rem;
				color: $cinza-2;
			}
		}

		&.interval {
			min-height: initial;

			.amount {
				width: 35px;
				padding: 10px 0;
				margin: 0 0 0 12px;
				font-size: 1.8rem;
				text-align: center;
				color: $azul-1;
				border-top: 4px solid $azul-2;
				border-bottom: 4px solid $azul-2;
			}
		}

		&.workingweekend {
			background-color: $cinza-5;

			.date {
				border-color: $amarelo-2;
				background-color: $amarelo-1;

				>div {
					color: $white;
				}
			}

			.baloom {
				border-color: $amarelo-2;

				.arrow {
					border-color: $amarelo-2;
				}
			}
		}
	}
}