<ion-header>
	<ion-toolbar color="primary" style="display: flex">
		<ion-navbar>
			<ion-buttons left *ngIf="totalAppsPermitidos>1">
				<button ion-button icon-only color="primary_20" (click)="voltar()">
					<ion-icon name="arrow-back"></ion-icon>
				</button>
			</ion-buttons>
			<ion-buttons end>
				<button ion-button icon-only color="primary_20" (click)="sair()">
					<ion-icon name="log-out"></ion-icon>
				</button>
			</ion-buttons>
			<ion-title>Catraca Online</ion-title>
		</ion-navbar>
	</ion-toolbar>


	<!-- HEADER COM O DISPLAY DE HORAS EXCEDENTES NO MES -->
<!-- 	<div #hourDisplay class="navbar">
		<div class="boxHourDisplay">
			<div class="BoxHourText">
				<ion-icon name="refresh"></ion-icon>
				<span class="text">Banco de Compensação</span>
				<div class="hourToShow">
					<span>
						+00:30
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="date-current fixed" #headerPosZ (click)="logHeaderPOS()">
		<div class="headerMes">{{mes}}</div>
	</div>
 -->

</ion-header>


<div class="date-current fixed">
	<div class="content">{{mes}}</div>
</div>
<ion-content (ionScroll)="functionToTriggerOnScroll($event)">

	<div #headerPosZ2></div>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-round-down" pullingText="Puxe para recarregar" refreshingSpinner="bubbles"
		 refreshingText="Carregando...">
		</ion-refresher-content>
	</ion-refresher>

	<div class="items">
		<div *ngFor="let item of batidas">
			<div class="date-current" [ngStyle]="returnMonth(item.mes, item.id)">
				<div class="line"></div>
				<div class="content">{{item.mes}}</div>
			</div>
			<div class="mes" title="{{item.mes}}" *ngIf="temMes(item)"></div>
			<div class="item {{getStyles(item)}}">
				<div class=" date" *ngIf="!item.gap_varios_dias">
					<div class="day">{{item.diaMes}}</div>
					<div class="week">{{item.diaSemana}}</div>
				</div>
				<div class="line" *ngIf="!item.gap_varios_dias"></div>
				<div class="baloom" *ngIf="!item.gap_varios_dias">
					<div class="arrow"></div>
					<div class="hour" *ngFor="let hora of item.batidas">{{hora}}</div>

				</div>
				<div class="amount" *ngIf="((item.gap_varios_dias && item.fim_de_semana != true) || (item.gap_varios_dias  && item.fim_de_semana == true && item.gap > 2))">{{item.gap}}</div>
			</div>
			<div class="item weekend" *ngIf="item.fim_de_semana && item.gap == 2">
				<div class="line"></div>
				<div class="text">{{imprimeFimSemana(item.id)}}</div>
			</div>
		</div>
	</div>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>