<!-- inicio do cabecalho padrao -->

<!-- titulo e tab bar -->
<ion-header>
    <ion-toolbar color="ons-green">
        <ion-navbar [hidden]="showSearch" hideBackButton>
            <ion-buttons *ngIf="showBackButton" left>
                <button ion-button icon-only color="primary_20" (click)="voltar()">
                    <ion-icon name="ios-arrow-back"></ion-icon>
                </button>
            </ion-buttons>
            <ion-buttons end hidden>
                <button ion-button icon-only color="primary_20" (click)="sair()">
                    <ion-icon name="md-open"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title text-center>ID {{item.id}}</ion-title>
        </ion-navbar>
    </ion-toolbar>
</ion-header>

<!-- fim do header padrao -->

<ion-content>

    <celula [templateCelula]="templateCelula" [templateHeader]="templateHeader" [item]="item" [color]="getColor(item.status)"></celula>

    <ons-card  [color]="borderColorCard">
        <ng-container [ngTemplateOutlet]="templateSlider1" [ngTemplateOutletContext]="{data: item}"></ng-container>
    </ons-card>
    
    <ons-card  [color]="borderColorCard">
        <ng-container [ngTemplateOutlet]="templateSlider2" [ngTemplateOutletContext]="{data: item}"></ng-container>
    </ons-card>

</ion-content>

<ion-footer>
    <ion-row>
        <ion-col class="botoesAprovarReprovar">
            <button ion-button  color="ons-green"  (click)="onApproveReprove(item, true)" *ngIf="permiteAprovar">
                <ion-icon name="checkmark"></ion-icon>
                <span [style.marginLeft.px]="10">Aprovar</span>
            </button>
        </ion-col>
        <ion-col class="botoesAprovarReprovar">
            <button ion-button  color="ons-red" (click)="onApproveReprove(item, false)" *ngIf="permiteReprovar">
                <ion-icon name="close"></ion-icon>
                <span [style.marginLeft.px]="10">Reprovar</span>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>

<!-- templates -->

<ng-template #templateHeader let-item="data">

    <p>Status: {{item.status}}</p>

</ng-template>

<ng-template #templateCelula let-item="data">  
    <ion-row>
        <ion-col>
            <label class="t2" text-wrap [style.color]="getColor(item.status)">{{item.title}}</label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <label class="low" text-wrap>Início: </label>
            <p><label class="t2" text-wrap [style.color]="getColor(item.status)">{{item.data_inicio}}</label></p>
        </ion-col>
        <ion-col>
            <label class="low" text-wrap>Término: </label>
            <p><label class="t2" text-wrap [style.color]="getColor(item.status)">{{item.data_fim}}</label></p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <label class="t2" text-wrap>{{item.dateDescription}}</label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <label class="low" text-wrap>Tipo: </label>
            <p><label class="t3" [style.color]="getColor(0)" text-wrap>{{item.tipo}}</label></p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <label class="t2" text-wrap>{{item.description2}}</label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <label class="t2" text-wrap>{{item.description}}</label>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="item.status != 0">
        <ion-col>
            <label class="t2" text-wrap [style.color]="getColor(item.status)">{{item.description3}}</label>
        </ion-col>
    </ion-row>

</ng-template>

<ng-template #templateSlider1 let-item="data">

    <div class="cartao-slider">

        <div class="titulo-slider" *ngIf="item">
            <div class="texto">Origem da Verba</div>
            <div class="botao push">
                <button *ngIf="item.index > 0" ion-button icon-only small clear (click)="origemAnterior()">
                    <ion-icon name="ios-arrow-back" color="white"></ion-icon>
                </button>
            </div>
            <div class="texto">{{item.index + 1}} de {{item.origensVerba.length}}</div>
            <div class="botao">
                <button *ngIf="item.index +1 < item.origensVerba.length" ion-button icon-only small clear (click)="origemProximo()">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </button>
            </div>
        </div>

        <ion-slides #slider1 (ionSlideDidChange)="onSlideChanged($event)">
            <ion-slide *ngFor="let origem of item.origensVerba;">

                <item-mo [itemOrigem]="origem"></item-mo>
            </ion-slide>
        </ion-slides>

    </div>
</ng-template>

<ng-template #templateSlider2 let-item="data">

    <div class="cartao-slider">

        <div class="titulo-slider" *ngIf="item">
            <div class="texto">Aplicação da Verba</div>
            <div class="botao push">
                <button *ngIf="item.origensVerba[item.index].index > 0" ion-button icon-only small clear (click)="origemAnterior2()">
                    <ion-icon name="ios-arrow-back" color="white"></ion-icon>
                </button>
            </div>
            <div class="texto">{{item.origensVerba[item.index].index + 1}} de
                {{item.origensVerba[item.index].aplicacoes.length}}</div>
            <div class="botao">
                <button *ngIf="item.origensVerba[item.index].index +1 < item.origensVerba[item.index].aplicacoes.length"
                    ion-button icon-only small clear (click)="origemProximo2()">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </button>
            </div>
        </div>

        <ion-slides #slider2 (ionSlideDidChange)="onSlideChanged2($event)">
            <ion-slide *ngFor="let aplicacao of item.origensVerba[item.index].aplicacoes;">

                <item-mo [itemOrigem]="aplicacao"></item-mo>
            </ion-slide>
        </ion-slides>

    </div>
</ng-template>
    