page-detalhe-aprovacaomo {

    * { font-family: "Arial" }
    ons-card .cardBorderline {
        margin: 3px;
    }  
    /* slider */
    .botoesAprovarReprovar{
        text-align: center;
    }
    .titulo-slider {
        display: flex;
        align-items: stretch;
        padding: 0 10px;
        height: 40px; 
        background-color: color($colors,'ons-gray');
        color: color($colors,'ons-white');

        div.texto {
            align-self: center;
            font-size: 1.2rem;
        }

        div.push {
            margin-left: auto;
        }

        .button {
            margin-top: 0px;
        }

        .button-clear {
            font-size: 1.9rem;
            font-weight: bold;
            color: color($colors,'ons-white');
        }

    }

    ion-card {
        margin-bottom: 10px !important;
    }

    /* area de scrolling  */

    ion-content {
        .scroll-content {
            // todo: height: calc(100% - 100px);
            margin-left: 5px;
            margin-right: -5px !important;
            /* linhas abaixo nao fizeram diferenca no browser nem android, e ios? */
            -webkit-overflow-scrolling: touch !important;
            overflow-y: scroll !important;
        }

    }

    /* cabecalho da pagina (padrao) */

    > ion-header {

        /* titulo */

        ion-title {
            padding: 0 40px 1px;
            .toolbar-title-md {
                text-transform: uppercase;
            }
        }

    }

}
