.cardFlip {
    min-height: 50vh;
    height: 20vh;
    -webkit-perspective: 600px;
    perspective: 600px;
    .cardFlipContainer {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transform-style: preserve-3d;
        transform-origin: center right;
        transition: transform 2s;
        transition-timing-function: ease-in-out;
        &.is-flipped {
            transform: translateX(-100%) rotateY(-180deg);
        }
        .cardFlip__face {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 2vh;
            font-weight: bold;
            backface-visibility: hidden;
            &.cardFront {
                background: transparent;
                &.transitionBoder {
                    border: #fff solid 4px;
                }
            }
            &.cardBack {
                background: transparent;
                &.transitionBoder {
                    border: #fff solid 4px;
                }
                transform: rotateY(180deg);
            }
        }
    }
}