<ion-list>
  <ion-item-sliding #expandList *ngFor="let item of items">

    <ion-item-options *ngIf="permissions?.canApprove && !item.inAction && !item.busy" side="left">
      <button ion-button color="ons-green" (click)="onApproveReprove(item, true)">
        <p>Aprovar</p>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-item-options>
    <ion-item-options *ngIf="permissions?.canReprove && !item.inAction && !item.busy" side="right">
      <button ion-button color="ons-red" (click)="onApproveReprove(item, false)">
        <p>Reprovar</p>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item-options>

    <ion-item>
      <ons-card [color]="item.mainColor">

        <ng-container *ngIf="templateHeader" [ngTemplateOutlet]="templateHeader" [ngTemplateOutletContext]="{data: item}"></ng-container>

        <ion-icon *ngIf="templateExpanded" class="iconExpand" [ngStyle]="{'color': item.mainColor}" [hidden]="!item.expanded"
          (click)="expandItem(item)" name="arrow-dropup"></ion-icon>
        <ion-icon *ngIf="templateExpanded" class="iconExpand" [ngStyle]="{'color': item.mainColor}" [hidden]="item.expanded"
          (click)="expandItem(item)" name="arrow-dropdown"></ion-icon>

        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
          <ng-container *ngIf="templateExpanded" [ngTemplateOutlet]="templateExpanded" [ngTemplateOutletContext]="{data: item}"></ng-container>

          <ion-row class="bottomRow">
            <ion-col col-6>
              <button ion-button color="ons-red" *ngIf="permissions?.canReprove" (click)="onApproveReprove(item, false)">
                <ion-icon name="close"></ion-icon>
                Reprovar
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button color="ons-green" *ngIf="permissions?.canApprove" (click)="onApproveReprove(item, true)">
                <ion-icon name="checkmark"></ion-icon>
                Aprovar
              </button>
            </ion-col>
          </ion-row>
        </expandable>

        <div class="hourGlassCard" [hidden]="!item.show" (click)="cancel(item)">
          <div class="hourGlass">
            <round-progress [current]="item.current" [color]="item.color" [radius]="item.radius" [stroke]="item.stroke"
              [background]="item.background" [clockwise]="item.clockwise" [max]="item.max">
            </round-progress>
            <ion-icon name="close" class="hourGlassIcon"></ion-icon>
          </div>
          <h4 class="hourGlassHeader">Desfazer {{item.showText}}</h4>
          <div class="hourGlassBackground" [ngStyle]="item.backColorCard"></div>
        </div>
        <div class="busyCard" [hidden]="!item.busy">
          <div class="center-vertical-horizontal">
            <ion-spinner></ion-spinner>
          </div>
        </div>
      </ons-card>
      <!-- </ion-card> -->
    </ion-item>
  </ion-item-sliding>

  <h1 class="message-no-permission" *ngIf="!permissions?.canList">Sem permissão de acesso</h1>
</ion-list>