approve-list {

  /* botoes de baixo: aprovar ou reprovar */

  .bottomRow {
    padding-bottom: 20px;

    button {
      width: 100%;
      margin: 0;
      border-radius: 5px;
      text-transform: none;
      font-weight: normal;
      font-size: 1.7rem;

      ion-icon {
        margin: 0 10px 0 0;
      }
    }
  }

  /* aguardando desfazer reprovacao/aprovacao */

  .hourGlassCard {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: calc(100vw - 20px);
    border-radius: 5px;
  
    .hourGlassBackground {
      position: absolute;
      width: calc(100vw - 18px);
      height: calc(100% - 20px);
      border-radius: 5px;
      z-index: 1;
      opacity: .6;
    }

    .hourGlass {
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: flex;
      z-index: 2;
  
      round-progress {
        width: 40px !important;
        height: 40px !important;
      }
  
      .hourGlassIcon {
        position: absolute;
        font-size: 2.4em;
        color: color($colors, ons-white);
      }
    }
  
    .hourGlassHeader {
      margin: 5px 0 0;
      font-size: 1.6rem;
      font-weight: bold;
      color: #ffffff;
      white-space: nowrap;
      z-index: 2;
    }

  }
  .busyCard {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: calc(100vw - 22px);
    .center-vertical-horizontal {
      display: flex;
      align-items: center;
      justify-content: center;
      > ion-spinner * {
        stroke: white;
      }
    }
    background-color: rgba(131, 131, 131, 0.363);
  }
  .iconExpand {
    position: absolute;
    bottom: 5px;
    display: flex;
    color: black;
    justify-content: center;
    width: calc(100vw - 20px);
    margin: 0 0 10px;
    font-size: 2.4em;
    left: auto;
    line-height: 0.6;
  }
 
  /* mensagem: sem acesso */

  .message-no-permission {
    color: red;
    padding: 0 10px;
  }

  /* area que desliza para aprovar/reprovar */

  ion-item-sliding {
    padding: 0;
    margin: 0;
    overflow: initial;

    /* item que desliza */

    ion-item {
      padding-left: 0px !important;
      background-color: transparent !important;
      item-inner { border: none; }
      ion-label.label-md { margin: 0px; }        
      .item-inner { padding: 0px !important; }

    }

    /* area de fundo com botoes */ 

    ion-item-options {
      border: none;
      margin: 0px;
      padding: 10px 0;

      button {
        .button-inner p {
          font-size: 1.2em;
          font-weight: normal;
          text-transform: initial;
          margin: 0px;
        }

        ion-icon {
          padding: 0 !important;
          font-size: 2.4em;
        }
      }

    }

  }
  
}





