
celula {
    ion-item,ion-list,ion-label, .item-md, .item-block, .item, .item-inner, .input-wrapper, .rel-container, .button-effect{
        min-height: 1rem;
    }
    
    
    .col {
        padding: 5px 5px 0px 5px;
    }
    
    .box {
        margin: 0;
        padding: 0;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        box-shadow: 0 3px 12px rgba(color($colors, ons-black), 0.4);
    }    

    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 30px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .slide-zoom {
        text-align: right; 
        display: block;
        width: 100%;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white;
        background-color: transparent;
    }

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 1.6rem;
        font-weight: 500;
        color: white;
    }

    .toolbar-md {
        padding: 0px; 
        min-height: 25px;
    }

    .toolbar-background-md {
        border-color: #b2b2b2;
        background: transparent;
    }

    .celula {
        padding: 0 10px 0 0;
        margin: 10px 7px 10px 3px;
        overflow: initial;

        .toolbar-md {
            padding: 0px; 
            min-height: 25px;
        }
        
        >.item-md {            
     
            .item-inner {
              padding: 0 0 2px 0 !important;
              
                ion-label {
      
                    &.label-md {
                    margin: 0;
                    }
        
                    [text-wrap] p {
                    padding: 0 5px;
                    font-size: 12pt;
                    color: color($colors, ons-gray);
                    }
        
                    >h4 {
                    margin: 0 0 10px;
                    color: color($colors, ons-coral);
                    }
        
                    h6 {
                    margin: 0 0 10px;
                    padding: 0 5px;
                    color: color($colors, ons-coral);
                    }                    
      
                }
            }
        }
    }

    .card {

        label {
            color: color($colors, ons-gray);
            font-size: 1.1rem 
        }
        
        label.t2, label>.t2 {
            font-size: 1.4rem;
            color: color($colors, ons-gray);
        }

        label.bold, label>.bold {
            font-size: 1.8rem;
            font-weight: bold;
        }

        label.t3, label>.t3 {
            font-size: 1.6rem;
            /*font-weight: bold;*/
        }
        label.total, label>.total {
            font-size: 1.2rem;
            /*font-weight: bold;*/
        }
        .titulo {
             
             background-color: color($colors, ons-gray);
             margin: 0;
             padding: 3px 0;
             border-top-left-radius: 4px;
             border-top-right-radius: 4px;
             border-width: 0px;
             color: white;
             p {
                 color: white;
                 text-align: center;
                 font-size: 1.2rem;
            }
        }
    }

    .toolbar{
        padding: 0px;
        min-height: 25px; 
    }

    .toolbar-md {
        padding: 4px;
        min-height: 25px; 
    }

    .toolbar-background-md {
         border-color: #b2b2b2;
        /* background: #f8f8f8; */
    }

    celula .toolbar-background-md {
        border-color: #b2b2b2;
        /* background: #f8f8f8; */
    }

    .backBtn{
        position: absolute;
        left: 20vw;
        top: 40vh;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        border: none;
        background: red;
     }
     
     .nextBtn{
        position: absolute;
        right: 20vw;
        top: 40vh;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        border: none;
        background: green;
     }
}
