<div class="celula">
    <ion-card ion-item class="box" [style.borderColor]="color">

        <div class="card">

            <div class="titulo" [style.backgroundColor]="color">
                <ng-container *ngIf="templateHeader" [ngTemplateOutlet]="templateHeader" [ngTemplateOutletContext]="{data: item}"></ng-container>
            </div>

            <ng-container *ngIf="templateCelula" [ngTemplateOutlet]="templateCelula" [ngTemplateOutletContext]="{data: item}">

            </ng-container>
        </div>


    </ion-card>
</div>