page-msg-input {
  .titlebox{
      background-color: gray;
      height: 41px;
    }

    .message{
      margin: 8px;
      border-radius: 15px;
      border-width: 2px;
      border-style: solid;
      border-color: lightgray;
    }
  
    .title{
      color: white;
      float: left;
      display: block;
      margin-left: 10px;
      margin-top: 10px;
      font-size: 1.6rem;
      width: calc(100% - 64px);
      text-overflow:ellipsis;
      white-space:nowrap;
      overflow:hidden;
    }
    
    .bar-button {
      background-color: white !important;
      color: black !important;
      height: 39px;
      width: 39px
    }
  
    /* mensagem */
  
    .content{
      padding: 15px 0px 10px 10px;
    }
  
    .scroll-content, .fixed-content {
      padding-top: 0;
    }

    /* tamanho fixo, fixo embaixo na tela */
    
    min-height: 180px;
    max-height: 180px;
    bottom: 0px !important;
    top: unset !important;
}

/* redimensiona pagina para o rodape */

ion-modal.msg-input {
  padding: unset !important;
  background-color: rgba(0,0,0,.5)!important;

}
