<ion-content style="padding: 0">
  <div class="titlebox" [ngStyle]="{'background-color': color}">
    <span class="title">{{title}}</span>
    <ion-buttons end>
      <button ion-button icon-only class="bar-button" (click)="dismiss()">
        <ion-icon name="close" [ngStyle]="{'color': color}"></ion-icon>
      </button>
    </ion-buttons>
  </div>  
  
    <ion-row class="message">
        <ion-col col-11>            
            <ion-textarea #msgInputBox [(ngModel)]="message" rows="5"></ion-textarea>                      
        </ion-col>
        <ion-col col-1>
          <ion-row>
              <ion-col>
                  <button ion-button icon-only outline item-right (click)="confirm()"  [outline]="true" [clear]="true" float-right>
                      <ion-icon name="checkmark" color="ons-gray"></ion-icon>
                   </button>
              </ion-col>  
          </ion-row>
          <ion-row>
              <ion-col>
                  <button ion-button icon-only outline item-right (click)="dismiss()" [outline]="true" [clear]="true" float-right>
                      <ion-icon name="close" color="ons-gray"></ion-icon>
                    </button>
              </ion-col>  
          </ion-row>
        </ion-col>
    </ion-row>     

</ion-content>