<!-- cabecalho -->

<ion-header id="header">
    <ion-toolbar color="ons-green">
    
        <ion-navbar [hidden]="showSearch">
    
        <!-- botao voltar -->
    
        <ion-buttons *ngIf="showBackButton" left>
            <button ion-button icon-only color="primary_20" (click)="voltar()">
            <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    
        <!-- botao finalizar -->
    
        <ion-buttons end>
            <button ion-button icon-only color="primary_20" (click)="sair()">
            <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    
        <!-- titulo -->
    
        <ion-title text-center>Aprovação MO</ion-title>
        
        <!-- barra de pesquisa -->
    
        <ion-buttons end  *ngIf="false"> <!-- botao pesquisa suprimido --> 
            <button ion-button icon-only (click)="searchShow(true)">
            <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    
        </ion-navbar>
    
        <!-- barra de pesquisa -->
    
        <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" [hidden]="!showSearch">
        </ion-searchbar>
    
        <!-- menu de abas -->
    
        <ion-segment (click)="mudarTab()" [(ngModel)]="segment">
        <ion-segment-button value="pendentes">
            <span class="headColor">Pendentes</span>
        </ion-segment-button>
        <ion-segment-button value="todos">
            <span class="headColor">Todos</span>
        </ion-segment-button>
        </ion-segment>
    
    </ion-toolbar>
</ion-header>

      
<!-- conteudo das listas -->
<ion-content (click)="searchShow(false)">
    <ion-refresher (ionRefresh)="carregarDados(true, $event)" *ngIf="!isLoading">
        <ion-refresher-content> </ion-refresher-content>
    </ion-refresher>
    <div class="spinner-aguarde" *ngIf="isLoading">
        <ion-spinner></ion-spinner>
    </div>
    <!--ion-list #approveItens-->
    <div [ngSwitch]="segment" class="segment">

        <ion-list *ngSwitchCase="'pendentes'">

            <approve-list #approveListPendentes [items]="itensPendentes" [templateHeader]="templateCardItem"
                [templateExpanded]="" [permissions]="permissoesPendentes" [itemExpandHeight]="480" (expanded)="expandido($event.item, $event.expanded)"
                [actionDelay]="10" (approveReproveAction)="onConfirmAction($event.item, $event.approved)" (canceled)="onCancelAction($event.item)"
                [beforeReprove]="obemObservacaoCallback" mainColor='#A6A6A6'>
            </approve-list>

            <h1 class="mensagem-sem-dados" *ngIf="semItensPendentes">Nenhuma aprovação pendente</h1>

        </ion-list>

        <ion-list *ngSwitchCase="'todos'">

            <approve-list [items]="itensTodos" [templateHeader]="templateCardItem" [templateExpanded]="" [permissions]="permissoesTodos"
                [itemExpandHeight]="480" (expanded)="expandido($event.item, $event.expanded)" [actionDelay]="10"
                mainColor='#A6A6A6'>
            </approve-list>

            <h1 class="mensagem-sem-dados" *ngIf="semItensTodos">
                Não existem aprovações
            </h1>

        </ion-list>

    </div>
    <!--/ion-list-->
</ion-content>

<!-- fim do header padrao -->


<!-- itens aprovacao de mo -->

<ng-template #templateCardItem let-item="data">

    <div class="cartao-mo status-{{item.status}}" (click)="showDetails(item)">

        <div class="titulo">
            <p class="t5">ID {{item.id}}</p>
        </div>
        <ion-row>
            <ion-col>
                <label class="t3 status-{{item.status}}" text-wrap>{{item.codigo}}</label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-50>
                <label class="t4" text-wrap>Início: </label>
                <label class="t3 status-{{item.status}}" text-wrap>{{item.data_inicio}}</label>
            </ion-col>
            <ion-col width-50>
                <label class="t4" text-wrap>Término: </label>
                <label class="t3 status-{{item.status}}" text-wrap>{{item.data_fim}}</label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <label class="t4" text-wrap>{{item.description}}</label>
            </ion-col>
        </ion-row>

    </div>

</ng-template>