/* todo: nao precisa importar? ja reconhece automaticamente?
$colors: "../../../../theme/variables.scss";
@import "../../../../theme/variables.scss";
*/

/* manter compativel com model/helper-cor.ts */

$cores: (
	cor-aprovado: color($colors, ons-green), // verde
	cor-reprovado: color($colors, ons-red), // vermelho
	cor-pendente: color($colors, ons-gray), // cinza
	cor-alert: color($colors, ons-red), // mensagem de lista vazia
);

page-aprovacao-mo {
    * {
        white-space: normal;
    }
    
    /* mensagem: sem dados */
    
    .mensagem-sem-dados {
        color: color($cores, cor-alert);
        padding: 0 10px;
    }
      
    /* refresher is loading */
    
    .spinner-aguarde {
        justify-content: center;
        display: block;
        align-items: center;
        display: flex;
        > h3 {
            color: color($colors, ons-black);
        }
    }
    
    /* aguardando desfazer reprovacao/aprovacao */

    approve-list { 
    
        .hourGlassCard { 
            .hourGlass {
                width: 60px !important;
                height: 60px !important;
            }
            round-progress {
                width: 60px !important;
                height: 60px !important;
            }
            .hourGlassIcon {
                font-size: 3.0rem !important;
            }
        }

        .hourGlassHeader {
            margin: 10px 0 0 !important;
            font-size: 2rem !important;
        }
    }

    /* cartao */

    .cartao-mo {

        * { font-family: "Arial" }
        .bold { font-weight: bold;}
        .t1 { font-size: 1.8rem; };
        .t2 { font-size: 1.6rem; };
        .t3 { font-size: 1.4rem; };
        .t4 { font-size: 1.2rem; };
        .t5 { font-size: 1.0rem; };
        padding-top: 10p;

        p, label {
            color: color($cores, cor-pendente);
            &.status-aprovado {
                color: color($cores, cor-aprovado);
            }
            &.status-reprovado {
                color: color($cores, cor-reprovado);
            }  
        }

        .titulo {
            background-color: color($cores, cor-pendente);
            margin: 0;
            padding: 2px 0;
            /* todo: ver
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-width: 0px;
            */
            p {
                color: white;
                text-align: center;
            }  
        }

        &.status-aprovado .titulo {
            background-color: color($cores, cor-aprovado);
        }

        &.status-reprovado .titulo {
            background-color: color($cores, cor-reprovado);
        }

    }    

    /* area de scrolling das tabs (padrao) */

    ion-content { 
        .mensagem-sem-dados {
            color: color($colors, ons-red);
            font-size: 2.0rem;
            padding: 0 10px;
        }
    }

    /* cabecalho da pagina (padrao) */

    >ion-header {
        >.toolbar-md {
            padding: 0;
            .toolbar-md {
                min-height: 40px;
                padding: 10px;
            }
            .toolbar-title-md {
                padding: 0;
                font-size: 1.7rem;
                font-weight: normal;
                text-transform: uppercase;
                white-space: normal;
            }
        }
    }

    /* menu de abas (tabs) */

    ion-segment {
        &.segment-md {
            .segment-button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                padding: 0 5px;
                border-bottom-width: 5px;
                border-color: rgba(color($colors, ons-white), 0);
                line-height: unset;
                font-weight: normal;
                &.segment-activated {
                    border-color: rgba(color($colors, ons-white), 0.5);
                }
                >.headColor {
                    font-weight: normal;
                    font-size: 16pt;
                    text-transform: none;
                    color: color($colors, ons-white);
                }
            }
        }
    }
    &.header-md::after {
        display: none;
    }

    /* barra de pesquisa */

    .searchbar-input {
      border-bottom-style: solid;
      border-bottom-width: 5px;
      border-bottom-color: #f99149;
      color: #141414;
      box-shadow: none;
      background-color: transparent;
    }
        
    /* mensagens */
    
    .mensagem-sem-dados {
        color: color($colors, ons-coral);
        padding: 0 10px;    
    }

    .mensagem-sem-acesso {
        color: color($colors, ons-red);
        padding: 0 10px;
    }
  

}
