<ion-content style="padding: 0">
  <div class="titlebox" [ngStyle]="{'background-color': color}">
    <span class="title">{{title}}</span>
    <ion-buttons end>

      <button ion-button icon-only class="bar-button" (click)="dismiss()">
        <ion-icon name="close" [ngStyle]="{'color': color}"></ion-icon>
      </button>

    </ion-buttons>
  </div>
  <p class="content" [ngStyle]="{'color': color}">{{message}}</p>
</ion-content>