page-msg-modal {

  /* cabecalho */

  .titlebox{
    padding: 0;
    background-color: gray;
    height: 50px;
  }

  .title{
    color: white;
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: 13px;
    font-size: 1.6rem;
    width: calc(100% - 64px);
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
  }
  
  .bar-button {
    background-color: white !important;
    color: black !important;
    margin-right: 0;
    margin-top: 2px;
    height: 46px;
    width: 46px
  }

  /* mensagem */

  .content{
    padding: 15px 0px 10px 10px;
  }

  .scroll-content, .fixed-content {
    padding-top: 0;
  }

}

/* redimensiona pagina para o rodape */

ion-modal.msg-modal {
  padding: 70vh 0 0 0 ;
  background-color: rgba(0,0,0,.5)!important;
}
