
$colors: '../../theme/variables.scss';
@import '../../theme/variables.scss';

ons-card {

    .cardBorderline {
        margin: 10px;
        padding: 0;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: color($colors, ons-gray);
        box-shadow: 0 3px 12px rgba(color($colors, ons-black), 0.4);
      }
}
