approve-item {

  /* aguardando desfazer reprovacao/aprovacao */

  .hourGlassCard {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100vw - 22px);
    border-radius: 5px;
  
    .hourGlassBackground {
      position: absolute;
      width: calc(100vw - 22px) ;
      height: 100%;
      border-radius: 5px;
      z-index: 1;
      opacity: .6;
    }

    .hourGlass {
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      display: flex;
      z-index: 2;
  
      round-progress {
        width: 30px !important;
        height: 30px !important;
      }
  
      .hourGlassIcon {
        position: absolute;
        font-size: 1.1em;
        color: color($colors, ons-white);
      }
    }
  
    .hourGlassHeader {
      height: 30px;
      align-items: center;
      display: flex;
      font-size: 1.3rem;
      color: #ffffff;
      white-space: nowrap;
      z-index: 2;
      padding-left: 5px;
    }

  }
  .busyCard {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: calc(100vw - 22px);
    .center-vertical-horizontal {
      display: flex;
      align-items: center;
      justify-content: center;
      > ion-spinner * {
        stroke: white;
      }
    }
    background-color: rgba(131, 131, 131, 0.363);
  }
  
  ion-item-sliding {
    padding: 0;
    margin: 0;
    overflow: initial;

    ion-item-options {
      border: none;

      button {
        .button-inner p {
          font-size: 0.9em;
          font-weight: normal;
          text-transform: initial;
          color: color($colors, ons-white);
          margin-left: 5px;
        }

        ion-icon {
          padding: 0;
          font-size: 1.0em !important;
          font-weight: bold;
        }
      }
    }


    >.item-md {
            
      .item-inner {
        padding: 0px;
        
        ion-label {

          &.label-md {
            margin: 0;
          }

          [text-wrap] p {
            padding: 0 5px;
            font-size: 12pt;
            color: color($colors, ons-gray);
          }

          >h4 {
            margin: 0 0 10px;
            color: color($colors, ons-coral);
          }

          h6 {
            margin: 0 0 10px;
            padding: 0 5px;
            color: color($colors, ons-coral);
          }         

        }
      }
    }
  }
}
