<!-- Generated template for the ApproveItemComponent component -->
<ion-item-sliding #idItemSliding>
  <ion-item> 
     
    <!-- <ng-container *ngIf="template" [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{data: item}"></ng-container> -->
    <ng-content></ng-content>

    <div class="hourGlassCard" [hidden]="!approveItem.showProgress" (click)="cancel()">
        <div class="hourGlass">
        <round-progress
            [current]="approveItem.current"
            [color]="approveItem.color"
            [radius]="approveItem.radius"
            [stroke]="approveItem.stroke"
            [background]="approveItem.background"
            [clockwise]="approveItem.clockwise"
            [max]="approveItem.max"
        >
        </round-progress>
        <ion-icon name="close" class="hourGlassIcon"></ion-icon>
        </div>
        <p class="hourGlassHeader">Desfazer {{ approveItem.showText }}</p>
        <div class="hourGlassBackground" [ngStyle]="approveItem.backColorCard"></div>
    </div>

      <div class="busyCard" [hidden]="!isBusy()">
        <div class="center-vertical-horizontal">
          <ion-spinner></ion-spinner>
        </div>
      </div> 

  </ion-item>

  <ion-item-options *ngIf="permissions?.canApprove && !selected && !busy" side="left">
    <button ion-button icon-only color="ons-green" (click)="onApproveReprove(true)">
      <ion-icon name="checkmark"></ion-icon>
      <p>Aprovar</p>
    </button>
  </ion-item-options>

  <ion-item-options *ngIf="permissions?.canApprove && !selected && !busy" side="right">
    <button ion-button icon-only color="ons-red" (click)="onApproveReprove(false)">
      <ion-icon name="close"></ion-icon>
      <p>Reprovar</p>
    </button>
  </ion-item-options>      

</ion-item-sliding>
